
/* Based on HTML5 ✰ Boilerplate CSS Starter: h5bp.com/css */

/* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* Base */
html {  }
body { margin: 0; font-size: 13px; line-height: 1.6em; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* Links */
a { color: #0085BD; text-decoration: none; }
a:hover { color: #60A5DD; text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: inherit; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* Lists */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* Embedded content */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
img:not([src]) { /*display: none !important;*/ visibility: hidden; }
svg:not(:root) { overflow: hidden; }

/* Figures */
figure { margin: 0; }

/* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* Tables */
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
td { vertical-align: top; }


/*
    Custom Code for Illustration Division by Ms. Joey Michalina Mariano
    joeymariano.com
    illustrationdivision.com
*/


@font-face {
  font-family: 'Engravers Gothic';
  src: url(https://static1.squarespace.com/static/5cb8d6e2b2cf792657873a23/t/5cd8ae68971a184bd00d727f/1557704296709/engravers-gothic.otf);
}
body,a, ul, li,h1,h2,h3,h4,p,div,span,.site-title-text,.entry-title{
  font-family:'Engravers Gothic',arial,ltc-bodoni-175 !important;
  letter-spacing:.075em !important; text-transform:lowercase!important;
}

.blog-item-banner-image img{
  display:none;
}
.tweak-blog-list-grid-alignment-baseline article.entry--list, .tweak-blog-list-grid-alignment-top article.entry--list{
  margin-bottom:18px !important;
}

.chill-margins {
  margin:0 !important;
}

#headerWrapper {
background-color: rgba(173, 213, 219, 1);
}

.sqs-layout, .sqs-grid-12, .columns-12{
  width: 100%;
  padding: 0;
}

/* for Down Arrow */

.downArrowContainer {
  position: fixed;
  z-index: 2;
  right:50%;
  left:50%;
  bottom:0;
  margin:0;
  padding:0;
  width:75%;
}

#newDownArrow, img {
  width: 50px;
}

html {
  scroll-behavior: smooth;
}

/* make content full width */


#headerWrapper {
  position:relative !important;
}

#mainContent {
  margin-top: none !important;
  margin: 5% auto !important;
  padding: 0 !important;
}

#page:before {
  width: 100% !important;
}

body:not(.collection-type-index):not(.collection-type-gallery) #mainContent{
  width: 90% !important;
}

body.page-titledescription:not(.view-item) #page-title {
  display:none !important;
}

/* for lightbox */

.sqs-block-image .image-block-outer-wrapper:not(.image-block-v2) .intrinsic {
  margin: 0 !important;
}

.sqs-lightbox-padder {
  background-color: white;
}

.sqs-gallery-design-stacked-slide {
  background-color: white;
}

/* for bio pic */

.image-block-wrapper{
  width:80% !important;
  height: 100% !important;
}


#yui_3_17_2_1_1569363438313_82, .image-block-outer-wrapper {
    height: 650px !important;
    overflow: hidden !important;
}

/* for darker arrows */

.sqs-lightbox-next:before {
  content: url(https://static1.squarespace.com/static/5cb8d6e2b2cf792657873a23/t/5ceeb3caa4222fd3b1172104/1559147466835/right-arrow.png) !important;
}

.sqs-lightbox-previous:before {
  content: url(https://static1.squarespace.com/static/5cb8d6e2b2cf792657873a23/t/5ceeb3c2fa0d60799c7852c4/1559147458238/left-arrow.png) !important;
}

.sqs-lightbox-close:before {
  content: url(https://static1.squarespace.com/static/5cb8d6e2b2cf792657873a23/t/5cf581e5a86bb7000124b3c8/1559593445762/close_black_32x32.png) !important;
}

/* bring the header up */

.header-wrapper {
  z-index: 999999999 !important;
}

/* center nav regaurless of 1 social icon */

#topNav{
  padding-right: 0 !important;
}

/* ipad header adjustment */

@media only screen and (min-width: 734px) and (max-width: 835px){
  h1, h1 a{
    font-size: 24px !important;
  }
}

/* chill on the mobile header boldness */

@media only screen and (max-width: 736px) {
  #header #logo .logo-text a {
    font-weight: 100 !important;
  }

  #mainContent {
    margin-top: -60px !important
  }
}

/* collapse ol when below a certain point */


@media only screen and (min-width: 0px) and (max-width: 1130px) {
  #aboutList {
    display: grid !important;
  }

  #aboutList li {
    padding-bottom: 25px;
  }

  #aboutList li div {
    width: 345px;
  }
}

#topNav .main-nav li a:hover {
  border-bottom-color: transparent !important;
}